@model IEnumerable<Mvcgame.Models.game_character>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.max_HP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.armor_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weapon_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.potions_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.max_HP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.armor_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weapon_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.potions_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
