@model IEnumerable<Mvcgame.Models.game_character>

@{
    ViewData["Title"] = "Index";
}

<h1>Просмотр персонажей</h1>

<p>
    <a asp-action="Create">Создать нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Armors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Potions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HP)
                /
                @Html.DisplayFor(modelItem => item.max_HP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Armors.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weapons.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Potions.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
